services:
  # Postgres Database with pgvector and apache_age
  db:
    container_name: mu2-db
    image: supabase/postgres:15.14.1.081
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    command:
      - "postgres"
      - "-c"
      - "max_connections=200"
      - "-c"
      - "wal_level=logical"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-your-super-secret-and-long-postgres-password}
      POSTGRES_DB: postgres
    ports:
      - "${DB_PORT:-54322}:5432"
    volumes:
      - ./docker-volumes/db:/var/lib/postgresql/data

volumes:
  docker-volumes:
